# Flutter/Dart build files
.dart_tool/
.packages
build/
pubspec.lock

# IDE & Editor Configurations
.vscode/
.idea/
.DS_Store
.env

# Flutter Plugin & Dependencies
.flutter-plugins
.flutter-plugins-dependencies

# Generated Dart files
test/**.g.dart

# Platform folders (These are generated when running `flutter create .`)
android/
ios/
linux/
macos/
windows/
web/

# Android-specific files
android/.cxx/
android/app/debug.keystore

# Gradle
.gradle/

# Lock files (Not needed for libraries, but okay for apps)
*.lock

venv/